app-atf-section, app-aboutme, app-myskills, app-portfolio, app-contact{
    overflow-x: hidden;
}
app-contact{
    scroll-margin-top: 109px;
}

app-aboutme{
    scroll-margin-top: 48px;
}

app-myskills{
    scroll-margin-top: 109px;
}

