@use './../../../styles.scss' as *;
$header-height: 109px;


.atf {
    position: relative;
    height: calc(100vh - $header-height);

    div {
        position: relative;

        .greeting-wrapper {
            position: absolute;
            @include flex(center, center );
            flex-direction: column;
            top: calc(297px - $header-height);
            right: 100px;
            z-index: 2;
            gap: 22px;

            .greeting-button{
                @include flex(center, center );
                padding: 15px 30px;
                background-color: #FA7902;
                border-radius: 10px;
                cursor: pointer;
                transform-origin: top;
                transition: transform 75ms ease-in-out;

                &:hover{
                    transform: scale(1.1);
                    background-color: #FF4747;
                }

                &:active{
                    background-color: white;
                    color: black;
                }
            }

            .greeting {
                @include flex(center, center );

                .vertical {
                    transform: rotate(-90deg);
                    font-size: 64px;
                }

                .job {
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    margin-top: -16px;

                    .name {
                        font-size: 96px;
                        font-weight: 700;
                    }

                    .job-description {
                        margin-top: -36px;
                        font-size: 58px;
                        font-weight: 400;
                        color: #FF4747;
                    }
                }
            }

        }
    }

    .greeting-icons{
        position: absolute;
        bottom: 40px;
        @include flex(flex-start, center);
        gap: 42px;
        
        .divider{
            background-color: #FF4747;
            height: 4px;
            width: 100px;
            border-radius:0 2px 2px 0;
        }

        img{
            cursor: pointer;
            transform-origin: left;
            transition: all 125ms ease-in-out;

            &:hover{
                transform: scale(1.35);
            }
        }

        a{
            font-size: 23px;
            font-weight: 400;
        }
    }

    .shadow {
        position: absolute;
        top: calc(221.62px - $header-height);
        left: 0px;
    }

    .profile-full {
        position: absolute;
        top: calc(106px - $header-height);
        left: 47px;
        width: 100%;
        max-width: 646px;
        object-fit: contain;
        margin-right: calc(100% - 646px);
    }

    .shape {
        position: absolute;
        top: calc(377.6px - $header-height);
        left: -5px;
        width: 100%;
        height: 1080px;
    }

    
    .scrolldown{
        position: absolute;
        top: 624px;
        right: 100px;
        cursor: pointer;
        animation:bounce 2.5s ease-in-out infinite;
    }
    @keyframes bounce {
        0%{ transform: translateY(0); }
        50%{ transform: translateY(-40px); }
    }
}