<div class="atf">
    <div>
        <div class="greeting-wrapper" 
        data-aos="fade-left">
            <div class="greeting">
                <div class="vertical">I am</div>
                <div class="job">
                    <span class="name">Kevin Müller</span>
                    <span class="job-description">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="greeting-button">
                <span>Let's Talk !</span>
            </div>
        </div>

        <img class="shadow" src="/assets/img/shadowsatf.svg" alt="shadowsatf">
        <img class="profile-full" 
        data-aos="fade-right"
        src="/assets/img/templateUser.png" alt="">
        <img class="shape" src="/assets/img/sicleshape.png" alt="sicleshape">
    </div>
    <div class="greeting-icons">
        <div class="divider"></div>
        <img src="/assets/img/icon/github.svg" alt="">
        <img src="/assets/img/icon/emailbtn.svg" alt="">
        <img src="/assets/img/icon/linkedin.svg" alt="">
        <a href="mailto:kevin.mueller@tuta.com">kevin.mueller&#64;tuta.com</a>
    </div>
    <img class="scrolldown" src="/assets/img/scrolldown.png" alt="scrolldown" (click)="navigateToAbout()">
</div>