<div class="atf">
    <div class="atf-mobile">
        <div class="greeting-wrapper"
             data-aos="fade-left">
            <div class="greeting">
                <div class="vertical">I am</div>
                <div class="job">
                    <span class="name">Kevin Müller</span>
                    <span class="job-description">FRONTEND DEVELOPER</span>
                </div>
            </div>
            <div class="greeting-button" (click)="navigateToContact()">
                <span>Let's Talk !</span>
            </div>
        </div>
        <div class="picture-wrapper">
            <img class="shadow" src="/assets/img/shadowsatf.svg" alt="shadowsatf">
            <img class="profile-full"
                 data-aos="fade-right"
                 src="/assets/img/templateUser.png" alt="">
        </div>
    </div>
    <img class="shape" src="/assets/img/sicleshape.png" alt="sicleshape">
    <div class="greeting-icons">
        <div class="divider"></div>
        <img src="/assets/img/icon/github.svg" alt="" (click)="navigateToPage(0)">
        <img src="/assets/img/icon/emailbtn.svg" alt="" (click)="navigateToContact()">
        <img src="/assets/img/icon/linkedin.svg" alt="" (click)="navigateToPage(1)">
        <a href="mailto:info@kevin-mueller-dev.de">info&#64;kevin-mueller-dev.de</a>
    </div>
    <img class="shadowabout" src="/assets/img/shadowredabout.svg" alt="">
    <img class="scrolldown" src="/assets/img/scrolldown.png" alt="scrolldown" (click)="navigateToAbout()">
</div>