<div class="atf">
    <div>
        <div class="greeting">
            <div class="vertical">I am</div>
            <div class="job">
                <span class="name">Kevin Müller</span>
                <span class="job-description">FRONTEND DEVELOPER</span>
            </div>
        </div>
        <img class="shadow" src="/assets/img/shadowsatf.svg" alt="shadowsatf">
        <img class="profile-full" src="/assets/img/templateUser.png" alt="">
        <img class="shape" src="/assets/img/sicleshape.svg" alt="sicleshape">
    </div>
</div>