@use './../../styles.scss' as *;
div.footer {
    position: sticky;
    top: 0;
    height: 291px;
    border-top: 4px solid #FA7902;
    @include flex(center,center);
    padding: 0px 100px;

    .logo {
        cursor: pointer;
        width: 300px;
    }

    a {
        position: absolute;
        left: 102px;
        top: 166px;
        color: white;
        text-decoration: none;

        &:hover {
            background-image: linear-gradient(#FF4747, #FF4747);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 55px 2px;
        }
    }

    div.footer-content {
        width: 100%;
        @include flex(space-between,center);

        span {
            font-size: 23px;
            margin-left: -88px;
        }

        div {
            display: flex;
            gap: 30px;

            img {
                cursor: pointer;
                transform-origin: top left;
                transition: all 125ms ease-in-out;

                &:hover {
                    transform: scale(1.35);
                }
            }
        }
    }

}