div.footer {
    position: relative;
    height: 291px;
    border-top: 4px solid #FA7902;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0px 100px;
    caret-color:rgba(0,0,0,0);

    h1 {
        font-size: 48px;
    }

    a {
        position: absolute;
        left: 102px;
        top: 166px;
        color: white;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid #FF4747;
        }
    }

    div.footer-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            font-size: 23px;
        }

        div {
            display: flex;
            gap: 30px;

            img {
                cursor: pointer;
                transform-origin: top left;
                transition: all 125ms ease-in-out;

                &:hover {
                    transform: scale(1.35);
                }
            }
        }
    }
}