<div class="project" data-aos="fade-left">
    <div class="project-picture" data-aos="flip-right">
        <img src="{{project.image}}" alt="">
    </div>
    <div class="project-description">
        <div class="description-text">
            <h2>{{project.title}}</h2>
            <span class="techstack">{{project.stack}}</span>
            <span>{{project.description | translate}}</span>
        </div>
        <div class="btn-project">
            <div class="livetest-btn" (click)="navigateToUrl(project.liveUrl)">
                <span>Live test</span>
            </div>
            <div class="github-btn" (click)="navigateToUrl(project.githubUrl)">
                <span>Github</span>
            </div>
        </div>
    </div>
</div>