@use'./../../../../styles.scss' as *;

.project {
    @include flex(flex-end, flex-end);
    gap: 35px;
    overflow: hidden;

    .project-picture {
        width: 100%;
        max-width: 620px;
    }

    .project-description {
        @include flex(flex-end, flex-end);
        flex-direction: column;
        gap: 35px;
        width: 100%;
        max-width: 512px;

        .description-text {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        h2 {
            font-size: 32px;
            font-weight: 700;
            color: #FF4747;
        }

        .techstack {
            font-size: 23px;
            font-weight: 400;
            color: #FA7902;
        }

        .btn-project {
            display: flex;
            gap: 86px;
            width: 100%;
            text-wrap: nowrap;
        }
    }
}

.livetest-btn {
    padding: 15px 30px;
    background-color: #FF4747;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: top;
    transition: background-color 75ms ease-in-out;
    font-size: 23px;

    &:hover {
        background-color: #FA7902;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

.github-btn {
    padding: 15px 30px;
    border: 1px solid #FA7902;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: top;
    transition: transform 75ms ease-in-out;
    font-size: 23px;

    &:hover {
        background-color: #FA7902;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

@media(max-width: 1280px) {
    .project {
        flex-direction: column;
        align-items: center;
        gap: 0;

        .project-description {
            align-items: center;
        }

        .description-text {
            align-items: center;

            h2,
            span {
                align-self: center;
                text-align: center;
            }
        }

        .btn-project {
            justify-content: center;
        }
    }
}

@media(max-width:850px) {
    .project-picture {
        width: unset !important;
    }
}

@media(max-width:460px) {
    .project-picture img {
        width: 100%;
    }

    .btn-project {
        gap: 24px !important;
    }

    .livetest-btn span,
    .github-btn span {
        font-size: 16px;
    }
}