@use './../../../styles.scss' as *;

.header {
    position: sticky;
    z-index: 9999;
    top: 0;
    width: calc(100% - 150px);
    height: 109px;
    @include flex(space-between, center);
    padding: 0px 50px 0px 100px;
    background-color: #141D2F;
    overflow-x: hidden;

    .logo {
        cursor: pointer;
        width: 300px;
    }

    .header-right{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 450px;
    }

    div.navbar {
        @include flex(space-between);
        width: 100%;
        max-width: 350px;

        a {
            position: relative;
            font-size: 23px;
            transition: color 75ms ease-in-out;

            &:hover {
                color: #FA7902;
            }
        }
    }

    .underline {
        background-image: linear-gradient(#FF4747, #FF4747);
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 55px 3px;
    }

}

.mobilemenu{
    display: none;
    cursor: pointer;
}

.openmenu{
    transition: all 125ms ease-in-out;
    transform: translateX(-100%);
}

.closemenu{
    transition: transform 125ms ease-in-out;
    transform: translateX(100%);
}

.d-none{
    display: none!important;
}

.language, .mobile-language{
    display: flex;
    gap: 8px;

    img{
        width: 32px;
        cursor: pointer;
        transition: filter 125ms ease-in-out;

        &:hover{
            filter: drop-shadow(1px 1px 3px #d6d6d6);
        }
    }
}

@media(max-width: 920px){
    .header{
        padding: 0 16px!important;
        width: calc(100% - 32px)!important;
    }
}

@media(max-width: 780px){
    .header-right{
        display: none!important;
    }

    .logo{
        width: 200px!important;
    }

    .mobilemenu{
        display: block;
    }

    .menulist{
        position: absolute;
        left: 100%;
        top: 109px;
        height: 100vh;
        width: 100%;
        @include flex(center,center);
        flex-direction: column;
        z-index: 9999;
        background-color: rgba(20, 29, 47, 0.8);
        transition: all 125ms ease-in-out;

        .mobilelinks{
            margin-top: -109px; 
            @include flex(center, center);
            flex-direction: column;
            gap: 29px;
            font-size: 23px;
        }
    }
}