@use'./../../../../styles.scss'as *;

.project{
    @include flex(flex-end, flex-end);
    flex-direction: row-reverse;
    gap: 35px;
    overflow: hidden;


    .project-picture{
        width: 100%;
        max-width: 620px;
        
    }

    .project-description{
        @include flex(flex-end, flex-end);
        flex-direction: column;
        gap: 35px;
        width: 100%;
        max-width: 512px;

        .description-text{
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        span{
            flex: 1;
            text-align: end;
        }

        h2{
            align-self: flex-end;
            font-size: 32px;
            font-weight: 700;
            color: #FF4747;
        }

        .techstack{
            align-self: flex-end;
            font-size: 23px;
            font-weight: 400;
            color: #FA7902;
        }

        .btn-project{
            @include flex(flex-end, flex-end);
            gap: 86px;
            width: 100%;
        }
    }
}

.livetest-btn {
    padding: 15px 30px;
    background-color: #FF4747;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: top;
    transition: background-color 75ms ease-in-out;
    font-size: 23px;

    &:hover {
        background-color: #FA7902;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

.github-btn {
    padding: 15px 30px;
    border: 1px solid #FA7902;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: top;
    transition: transform 75ms ease-in-out;
    font-size: 23px;

    &:hover {
        background-color: #FA7902;
    }

    &:active {
        background-color: white;
        color: black;
    }
}