<div class="portfolio-section">
    <div class="portfolio-header">
        <div class="portfolio-wrapper"
        data-aos="fade-left"
        data-aos-easing="ease-in-out"
        data-aos-duration="750">
            <div class="divider-left"></div>
            <div class="headline">
                <h2>Portfolio</h2>
            </div>
            <div class="divider-right"></div>
        </div>
        <div class="headspan"
        data-aos="fade-left"
        data-aos-easing="ease-in-out"
        data-aos-duration="750">
            <span>{{"portfolio_text" | translate}}</span>
        </div>
    </div>
    <div class="portfolio-content">
        @for (project of projects; track projects[i].title; let i = $index, right = $even) {
            @if (right) {
                <app-work [project]="projects[i]"></app-work>
            } 
            @else {
                <app-work-mirror [project]="projects[i]"></app-work-mirror>
            }
        }
    </div>
</div>