@use'./../../../styles.scss' as *;

.portfolio-section {
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    z-index: 20;

    .portfolio-header {
        position: absolute;
        right: 0;
        @include flex(flex-end, flex-end);
        flex-direction: column;
        padding-top: 109px;
        width: 70%;
        overflow-x: hidden;

        .portfolio-wrapper {
            @include flex(flex-start, center);
            width: 100%;

            .divider-left {
                background-color: #FF4747;
                height: 4px;
                min-width: 20px;
                width: 100%;
                max-width: 109px;
            }

            .divider-right {
                background-color: #FF4747;
                height: 4px;
                width: 100%;

            }

            .headline {
                padding: 0 40px;

                h2 {
                    font-size: 90px;
                    font-weight: 700;
                }
            }
        }

        .headspan {
            @include flex();
            width: 100%;
        }
    }

    .portfolio-content {
        @include flex(flex-start, center);
        flex-direction: column;
        gap: 160px;
        margin: 400px 0 200px;
        padding-right: 100px;
        overflow-x: hidden;
    }
}

@media(max-width:850px) {
    app-work {
        width: 100%;
    }

    app-work-mirror {
        width: 100%;
    }

    .portfolio-section {
        padding-left: 0;

        .portfolio-header {
            width: 100%;
        }

        .portfolio-content {
            padding-right: 0;
        }
    }

    .headspan span{
        text-align: center;
    }

}

@media(max-width: 640px) {
    h2 {
        font-size: 45px !important;
    }

    .portfolio-content{
        margin-top: 300px!important;
    }
}

