<div class="aboutme">
    <div class="aboutme-description">
        <div class="description-content"    
        data-aos="fade-right"
        data-aos-delay="100"
        data-aos-easing="linear"
        data-aos-duration="500">
            <h2>{{"about_me" | translate}}</h2>
            <span>{{"intro_text" | translate}}</span>
            <div class="personal-info">
                <div>
                    <img src="/assets/img/icon/lightbulb.svg" alt="">
                </div>
                <span>{{"about_text1" | translate}}</span>
            </div>
            <div class="personal-info">
                <div>
                    <img src="/assets/img/icon/puzzle.svg" alt="">
                </div>
                <span>{{"about_text2" | translate}}</span>
            </div>
        </div>
    </div>
    <div class="about-profile"
    data-aos="fade-left"
    data-aos-delay="100"
    data-aos-easing="ease-in-out"
    data-aos-duration="500">
        <div class="profile-picture">
            <img src="/assets/img/profilepicture.png" alt="">
        </div>
        <div class="divider"></div>
    </div>
</div>