.skills-content{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 100px;

}

.icon-section{
    display: flex;
    flex-flow: row wrap;
    column-gap: 123px;
    row-gap: 54px;
    width: 100%;
    max-width: 724px;

    .icon{
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
        width: 88px;

        img{
            transition: all 125ms ease-in-out;
            transform: translateY(0px);
        }
        img:hover{
            transform: translateY(-20px);
        }
    }

}







