<div class="skills-content">
    <div class="icon-section">
        <div class="icon" *ngFor="let item of skills; index as i;">
            <img src={{item.url}} alt={{item.title}}>
            <span>{{item.title}}</span>
        </div>
    </div>
    <div class="my-skills-description">
        <div class="skills-header">
            <h2>My skills</h2>
            <div class="divider"></div>
        </div>
        <div class="skill-about">
            <span>Î have grown my frontend development skills that have
                allowed me to create different real projects.
            </span>
        </div>
        <div class="getintouch-button">
            <span>Get in touch</span>
        </div>
    </div>

</div>