@use './../../../styles.scss' as *;
$header-height: 109px;

.dnone {
    display: none;
}

.skills-content {
    height: 100vh;
    @include flex(space-between, center);
    padding-left: 100px;


    .icon-section {
        display: flex;
        flex-flow: row wrap;
        column-gap: 123px;
        row-gap: 54px;
        width: 100%;
        max-width: 724px;
        z-index: 10;

        .icon {
            @include flex(flex-start, center);
            flex-direction: column;
            text-align: center;
            width: 88px;

            img {
                transition: all 125ms ease-in-out;
                transform: translateY(0px);
            }

            img:hover {
                transform: translateY(-20px);
            }
        }
    }

    .my-skills-description {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 571px;
        margin-top: -48px;
        overflow-x: hidden;

        .skills-header {
            @include flex(flex-end, center);


            h2 {
                font-size: 90px;
                font-weight: 700;
                text-wrap: nowrap;

            }


            .divider {
                background-color: #FF4747;
                height: 4px;
                width: 58px;
                margin-left: 40px;
            }
        }

        .skill-about {
            display: flex;
            width: 100%;
            max-width: 471px;

            span {
                flex: 1;
                text-align: right;
                text-wrap: wrap;
            }
        }

        .getintouch-button {
            margin: 48px 0 20px 0;
            align-self: center;
            padding: 15px 30px;
            background-color: #FA7902;
            border-radius: 10px;
            cursor: pointer;
            transform-origin: top;
            transition: transform 75ms ease-in-out;
            font-size: 23px;
            z-index: 10;

            &:hover {
                transform: scale(1.1);
                background-color: #FF4747;
            }

            &:active {
                background-color: white;
                color: black;
            }
        }

    }

    .shadow {
        position: absolute;
        top: calc(2333px - $header-height);
        height: 1290px;
        margin-left: -100px;
    }

}

.getintouchbutton {
    display: none;
    margin-top: 16px;
    align-self: center;
    padding: 15px 30px;
    background-color: #FA7902;
    border-radius: 10px;
    cursor: pointer;
    transform-origin: top;
    transition: transform 75ms ease-in-out;
    font-size: 23px;
    z-index: 10;

    &:hover {
        transform: scale(1.1);
        background-color: #FF4747;
    }

    &:active {
        background-color: white;
        color: black;
    }
}

@media(max-width: 1024px) {
    .skills-content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 32px;
        padding-left: 0;
    }

    .icon-section {
        @include flex(center, center)
    }

    .getintouchbutton {
        display: block;
    }

}

@media(max-width:640px) {
    .icon span {
        font-size: 14px;
    }

    .icon-section {
        column-gap: 23% !important;
    }

    .shadow {
        width: 50%;
    }

    h2 {
        font-size: 45px !important;
    }

    .divider {
        width: 20px!important;
        margin-left: 8px!important;
    }

    .skill-about {
        padding: 0 16px!important;
        width: calc(100% - 32px)!important;
        font-size: 16px!important;
    }
}

@media(max-width: 510px) {
    .icon-section {
        column-gap: 14% !important;
    }
}

@media(max-width: 385px) {
    .icon-section {
        column-gap: 4% !important;
    }

    .my-skills-description{
        margin-top: -68px!important;
    }
}