$header-height: 109px;

.skills-content {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;


    .icon-section {
        display: flex;
        flex-flow: row wrap;
        column-gap: 123px;
        row-gap: 54px;
        width: 100%;
        max-width: 724px;
        z-index: 10;

        .icon {
            display: flex;
            align-items: center;
            flex-direction: column;
            text-align: center;
            width: 88px;

            img {
                transition: all 125ms ease-in-out;
                transform: translateY(0px);
            }

            img:hover {
                transform: translateY(-20px);
            }
        }
    }

    .my-skills-description {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        width: 571px;
        margin-top: -48px;

        .skills-header {
            display: flex;
            justify-content: flex-end;
            align-items: center;


            h2 {
                font-size: 90px;
                font-weight: 700;
                text-wrap: nowrap;

            }


            .divider {
                background-color: #FF4747;
                height: 4px;
                width: 58px;
                margin-left: 40px;
            }
        }

        .skill-about {
            display: flex;
            width: 100%;
            max-width: 471px;

            span {
                flex: 1;
                text-align: right;
                text-wrap: wrap;
            }
        }

        .getintouch-button {
            margin-top: 48px;
            align-self: center;
            padding: 15px 30px;
            background-color: #FA7902;
            border-radius: 10px;
            cursor: pointer;
            transform-origin: top;
            transition: transform 75ms ease-in-out;
            font-size: 23px;

            &:hover {
                transform: scale(1.1);
                background-color: #FF4747;
            }

            &:active {
                background-color: white;
                color: black;
            }
        }

    }

    .shadow {
        position: absolute;
        top: calc(2333px - $header-height);
        left: 0px;
        height: 1290px;
    }

}