@use './../../../styles.scss' as *;

div.footer {
    position: sticky;
    top: 0;
    height: 291px;
    border-top: 4px solid #FA7902;
    @include flex(center, center);
    overflow-x: hidden;
    /* padding: 0 100px; */

    .logo {
        cursor: pointer;
        width: 300px;
    }

    .links {
        position: absolute;
        left: 102px;
        top: 166px;
        display: flex;
        gap: 8px;
        color: white;
        text-decoration: none;

        a:hover {
            background-image: linear-gradient(#FF4747, #FF4747);
            background-repeat: no-repeat;
            background-position: bottom left;
            background-size: 55px 2px;
        }

    }

    div.footer-content {
        width: 100%;
        @include flex(space-between, center);

        span {
            font-size: 23px;
            margin-left: -88px;
        }

        div {
            display: flex;
            gap: 30px;

            img {
                cursor: pointer;
                transform-origin: top left;
                transition: all 125ms ease-in-out;

                &:hover {
                    transform: scale(1.35);
                }
            }
        }
    }

}

@media (max-width: 1024px) {
    .footer {
        padding: 0 !important;
    }

    .footer-content {
        @include flex(center, center);
        flex-direction: column;
        gap: 40px;

        span {
            margin-left: 0 !important;
        }

    }


    .links{
        left: 50%!important;
        transform: translateX(-50%);
    }
}