<div class="footer">
    <div class="footer-content">
        <img (click)="navigateHome()" class="logo" src="/assets/img/icon/logo.png" alt="">
        <span>© Kevin Müller 2024</span>
        <div>
            <img (click)="navigateToPage(0)" src="/assets/img/icon/github.svg" alt="">
            <img (click)="navigateToContact()" src="/assets/img/icon/emailbtn.svg" alt="">
            <img (click)="navigateToPage(1)" src="/assets/img/icon/linkedin.svg" alt="">
        </div>
    </div>
    <a href="impressum">Impressum</a>
</div>

